.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AlphabetButton{ 
    margin: 0 10px 10px 0; 
    width: 35px;
    height: 30px; 
    background: #c1d72e;
    color: #fff;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    border: solid 1px #fff;
    outline: none !important;
}

.commonBtn{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    background: #c1d72e;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

.shortCategoryName{
  background: #c1d72e;
  color: #fff;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 3px;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.AlphabetButton:disabled{
  background: #d3d3d3;
}
.transparentFirst{
  display: none;
}
.nonTransparentFirst{
  display: block;
}
 