$color: #fff;
$color-2: #000;

.class{
    color: $color;
    background: $color-2;
    width: 50px;
}

$head: "https://raw.githubusercontent.com/ozluy/ozluy.github.io/master/source/head.png";
$bodybg: #3C3F64;
$blue: #585DFE;
$darkgrey: #53555D;
$lightgrey: #E6E6E7;
$humanbody: #FFCD82;
$shirtLeft: #71CC54;
$shirtRight: #12A56B;
$appbg: #F5F5F5;
$white: #FFFFFF;
$yellow: #FFB800;

//Mixins
@mixin rotate($val) {
    -moz-transform: rotate($val);
    -webkit-transform: rotate($val);
    -o-transform: rotate($val);
    -ms-transform: rotate($val);
    transform: rotate($val);
}
  
@mixin calc($property, $val) {
    #{$property}: -webkit-calc(#{$val});
    #{$property}: -moz-calc(#{$val});
    #{$property}: calc(#{$val});
}
  
@mixin transition($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -ms-transition: $val;
    -o-transition: $val;
    transition: $val;
}

.man {
  position: relative;
  margin: 70px 0 0 77.5px;
  width: 100px;

  .head {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 96px;
    height: 106px;
    background-image: url($head);
    background-size: 96px 106px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .neck {
    position: absolute;
    margin: 0 auto;
    top: 100px;
    left: 0;
    right: 0;
    width: 20px;
    height: 40px;
    background-color: $humanbody;
  }

  .corpus {
    position: absolute;
    margin: 0 auto;
    top: 112.5px;
    left: 0;
    right: 0;
    width: 60px;
    height: 95px;
    border-radius: 5px;
    background-color: $bodybg;

    .corpus-chest-left {
      display: inline-block;
      width: 30px;
      height: 70px;
      background-color: $shirtLeft;
      border-radius: 5px 0 0 0;

      .left-arm {
        position: relative;

        @include rotate(45deg);

        margin-left: -27px;
        margin-top: -5px;
        width: 22px;
        height: 80px;
        background-color: $shirtLeft;
        border-radius: 5px;

        .left-hand {
          position: absolute;
          bottom: -14px;
          border-radius: 0 0 50% 50%;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 15px;
          height: 15px;
          background-color: $humanbody;
        }
      }

      .left-leg {
        background-color: $bodybg;

        @include rotate(15deg);

        height: 70px;
        width: 25px;
        margin-top: 10px;
        margin-left: -10px;

        .left-foot {
          position: absolute;
          bottom: -14px;
          border-radius: 0 0 50% 50%;
          left: -15px;
          right: 0;
          margin: 0 auto;
          width: 40px;
          height: 15px;
          background-color: $humanbody;
        }
      }
    }

    .corpus-chest-right {
      display: inline-block;
      width: 30px;
      height: 70px;
      background-color: $shirtRight;
      border-radius: 0 5px 0 0;

      .right-arm {
        position: relative;

        @include rotate(-45deg);

        margin-left: 35px;
        margin-top: -5px;
        width: 22px;
        height: 80px;
        background-color: $shirtRight;
        border-radius: 5px;

        .right-hand {
          position: absolute;
          bottom: -14px;
          border-radius: 0 0 50% 50%;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 15px;
          height: 15px;
          background-color: $humanbody;
        }
      }

      .right-leg {
        background-color: $bodybg;

        @include rotate(-15deg);

        height: 70px;
        width: 25px;
        margin-top: 10px;
        margin-left: 15px;

        .right-foot {
          position: absolute;
          bottom: -14px;
          border-radius: 0 0 50% 50%;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 40px;
          height: 15px;
          background-color: $humanbody;
        }
      }
    }
  }
}