.class {
  color: #fff;
  background: #000;
  width: 50px; }

.man {
  position: relative;
  margin: 70px 0 0 77.5px;
  width: 100px; }
  .man .head {
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 96px;
    height: 106px;
    background-image: url("https://raw.githubusercontent.com/ozluy/ozluy.github.io/master/source/head.png");
    background-size: 96px 106px;
    background-repeat: no-repeat;
    background-position: center center; }
  .man .neck {
    position: absolute;
    margin: 0 auto;
    top: 100px;
    left: 0;
    right: 0;
    width: 20px;
    height: 40px;
    background-color: #FFCD82; }
  .man .corpus {
    position: absolute;
    margin: 0 auto;
    top: 112.5px;
    left: 0;
    right: 0;
    width: 60px;
    height: 95px;
    border-radius: 5px;
    background-color: #3C3F64; }
    .man .corpus .corpus-chest-left {
      display: inline-block;
      width: 30px;
      height: 70px;
      background-color: #71CC54;
      border-radius: 5px 0 0 0; }
      .man .corpus .corpus-chest-left .left-arm {
        position: relative;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-left: -27px;
        margin-top: -5px;
        width: 22px;
        height: 80px;
        background-color: #71CC54;
        border-radius: 5px; }
        .man .corpus .corpus-chest-left .left-arm .left-hand {
          position: absolute;
          bottom: -14px;
          border-radius: 0 0 50% 50%;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 15px;
          height: 15px;
          background-color: #FFCD82; }
      .man .corpus .corpus-chest-left .left-leg {
        background-color: #3C3F64;
        -moz-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);
        height: 70px;
        width: 25px;
        margin-top: 10px;
        margin-left: -10px; }
        .man .corpus .corpus-chest-left .left-leg .left-foot {
          position: absolute;
          bottom: -14px;
          border-radius: 0 0 50% 50%;
          left: -15px;
          right: 0;
          margin: 0 auto;
          width: 40px;
          height: 15px;
          background-color: #FFCD82; }
    .man .corpus .corpus-chest-right {
      display: inline-block;
      width: 30px;
      height: 70px;
      background-color: #12A56B;
      border-radius: 0 5px 0 0; }
      .man .corpus .corpus-chest-right .right-arm {
        position: relative;
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-left: 35px;
        margin-top: -5px;
        width: 22px;
        height: 80px;
        background-color: #12A56B;
        border-radius: 5px; }
        .man .corpus .corpus-chest-right .right-arm .right-hand {
          position: absolute;
          bottom: -14px;
          border-radius: 0 0 50% 50%;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 15px;
          height: 15px;
          background-color: #FFCD82; }
      .man .corpus .corpus-chest-right .right-leg {
        background-color: #3C3F64;
        -moz-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg);
        height: 70px;
        width: 25px;
        margin-top: 10px;
        margin-left: 15px; }
        .man .corpus .corpus-chest-right .right-leg .right-foot {
          position: absolute;
          bottom: -14px;
          border-radius: 0 0 50% 50%;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 40px;
          height: 15px;
          background-color: #FFCD82; }

/*# sourceMappingURL=Man.css.map */
